<%= form_for(@persona) do |f| %>
  <input type="text" placeholder="name" name="name"></input>
  <input type="text" placeholder="email" name="email"></input>
  <input type="text" placeholder="phone" name="phone"></input>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
