<div class="container">
 

  <div class="row">

    <div class="col-md-2">
    </div>

    <div class="col-md-8">
      <div class="help-wanted">
        <h2>Welcome to the coolest burrito stand in the land!</h2>
        <h3>You're in luck because we are currently looking for extra help.
          If you'd like to join the team, fill out the form below.</h3>
      </div>
    </div>
      
    <div class="col-md-2">
    </div>

  </div>


    
    <div class="row">

      <div class="col-md-2">
      </div>

      <div class="col-md-8">

        <%= render 'form' %>

      </div>
  
      <div class="col-md-2">
      </div>



    </div>

          

</div>




</div>
